body {
    background-color: skyblue;
    background-image: url('/assets/images/sky.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.results-container {
    margin: 0 auto;
    padding: 30px;
    width: 98%;
    min-height: 100px;
    background-color: #fafafa;
    border-radius: 5px;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.form-text {
    color: #212529;
}

#helperText {
    margin: 10px 0px;
}